.menu {
  display: flex;
  justify-content: space-between;
  background: #e1e1e1;
  padding: 10px;
  color: #3c3c3c;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: end;
  /*padding: 10px 20px;*/
}

.action-item {
  /*padding: 5px 15px;*/
  /*margin-left: 25px;*/
}

a.action-item {
  color: #3c3c3c;
  text-decoration: none;
}

a.action-item:hover {
  background: #bfbfbf;
  /*border-radius: 5px;*/
}

.semantic-icon {
  color: deepskyblue;
}

.tags-icon {
  color: deepskyblue;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  list-style-type: none;
  float: left;
  text-decoration: none;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: #111;
}

.menu li a.active {
  float: right;
}

.active {
  background-color: #4CAF50;
}

.search-icon, .not-semantic-icon, .not-tags-icon {
  color: white;
}

.tags-toggle, .semantic-toggle {
  margin-right: 1em;
}

.search-wrap {
  margin-left: 1em;
}

.no-border {
  border: none;
}

.form-control {
  box-shadow: none;
}
