
/Backend/csharp/NoteS/obj/
/Backend/csharp/NoteS/bin/
/Backend/csharp/NoteS/.idea/
/Backend/csharp/NoteS/Folder.DotSettings.user

/Backend/csharp/.idea
/bin
/Backend/csharp/obj
NoteS.sln.DotSettings.user