<div class="pagination" *ngIf="pageData.total_pages > 0">
  <button
    class="prev-button"
    (click)="previousPage()"
    [disabled]="pageData.page === 1"
    aria-label="Previous page"
  >
    <fa-icon class="prev-icon icon-button" [icon]="faPlay"></fa-icon>
  </button>
  <div class="buttons">
    <button
      *ngFor="let page of pagesRange"
      (click)="goToPage(page)"
      [class.active]="page === pageData.page"
      [disabled]="page === pageData.page"
    >
      {{ page }}
    </button>
    <input
      type="number"
      min="1"
      [max]="pageData.total_pages"
      placeholder="Page"
      (input)="pageInput$.next(getValue($event))"
      style="width: 60px;"
    >
  </div>

  <button
    class="next-button"
    (click)="nextPage()"
    [disabled]="pageData.page === pageData.total_pages"
    aria-label="Next page"
  >
    <fa-icon class="next-icon icon-button" [icon]="faPlay"></fa-icon>
  </button>
</div>

