@if (isOwner) {
  <!--  TODO: По идее, надо бы сделать так, чтобы для владельца была открыта возможность редактировать публичность комментариев = удалять их -->
}
<details>
  <summary>Написать комментарий</summary>
  <form novalidate>
    <div class="editor">
      <angular-markdown-editor #commentEditor textareaId="commentCreate1" [options]="editorOptions"
                               [rows]=12 name="commentText" [(ngModel)]="commentText"
                               (onFullscreenExit)="hidePreview()">
      </angular-markdown-editor>
    </div>
  </form>
</details>

<hr/>
@let commentaries = comments | async;
<div class="comment">Комментарии (<span class="count-comment">{{ commentaries?.total ?? 0 }}</span>)</div>
@if (commentaries !== null) {
  @for (comment of commentaries.items; track comment.path) {
    <div class="user-info"><span><fa-icon [icon]="faUser"></fa-icon>
      <button (click)="hideComment(comment.path)" class="icon-button">
        <fa-icon [icon]="faTrash" class="link-icon"></fa-icon>
      </button>
      {{ comment.owner_account_name }}</span>·<span></span><span><fa-icon [icon]="faClock"></fa-icon>
      {{ comment.createdAtText }}</span></div>
    <markdown katex mermaid [data]="comment.content"></markdown>
  }
  <app-pagination
    [pageData]="commentaries"
    (pageChanged)="updatePage($event)"
  ></app-pagination>
}
